@import "../variables/variables.scss";
@import "../archive/archive.scss";
@import "../forms/forms.scss";
@import "../footer/footer.scss";

* {
    background-color: $backgroundCream;
    text-align: center;
    margin: 0 auto;
    user-select: none;
}

body {
    margin-top: 15%
}

a {
    text-decoration: none;
    color: $blackType;
    &:hover{
        cursor: pointer;
    }
}

.splashpage-wrapper {
    width: 80vw;
    @include flexbox(column nowrap, 50px)
}

.site-title {
    font-family: $Lausanne500;
    font-size: 8.5em;
    line-height: .90;
    letter-spacing: -1px;
}

.site-subtitle {
    font-family: $monospace;
    font-size: 1.25em;
}

.performance-prompts {
    font-family: $Lausanne150;
    font-size: 3.5em;
}