@import "../variables/variables.scss";

.site-nav {
    @include flexbox(row nowrap, 50px);
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100vw;
    border-top: 1px solid $blackType;
}

.nav-link {
    display: block;
    font-family: $Lausanne150;
    &:hover{
        text-decoration: underline;
    }
}