* {
  text-align: center;
  background-color: #FAF6B5;
}

.archive-header {
  font-family: Helvetica, sans-serif;
  font-size: 3em;
  text-align: left;
  max-width: 80vw;
}

.archive-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin: 25px;
}

.recording-rule {
  width: 100%;
  height: 1px;
  background-color: #000000;
}

/* .recording-wrapper {

} */

.recording-details {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
  list-style: none;
}